.flex{
    display: flex;
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.ai-c{
    align-items: center;
}

.column{
    flex-direction: column;
}